.quick-links-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.quick-links-container h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.quick-links-grid {
  display: grid;
  grid-template-columns: repeat(6, 4fr);
  gap: 12px;
}

.quick-link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  background-color: #f9f9f9; 
    padding: 10px; 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for each item */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Transition for hover effect */
}

.quick-link-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.icon {
  font-size: 24px;
  color: #666; 
  margin-bottom: 5px;
}

.quick-link-item p {
  font-size: 14px;
  color: #333;
  margin: 0;
}
