.app-container {
  display: flex;              /* Enable flexbox layout */
  height: 100vh;              /* Take up full viewport height */
  overflow: hidden;           /* Hide overflow if necessary */
}

.main-content {
  flex-grow: 1;               /* Take up remaining space in the container */
  display: flex;
  flex-direction: column;     /* Align items in a column */
  background-color: #f8f9fa;  /* Optional: background color for content */          /* Padding around the content */
  overflow-y: auto;           /* Enable scrolling for content if necessary */
}

.dashboard-section{
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 10px;
}

.left-section{
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-section{
  flex-grow: 1;
}